<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.fruitmall.mapper.CommodityMapper">

    <resultMap id="vo" type="com.hl.fruitmall.entity.vo.CommodityVO">
        <id column="id" property="id" javaType="int"/>
        <result column="name" property="name" javaType="string"/>
        <result column="varietyId" property="varietyId" javaType="int"/>
        <result column="varietyName" property="varietyName" javaType="string"/>
        <result column="url" property="url" javaType="string"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
    </resultMap>

    <resultMap id="infoVO" type="com.hl.fruitmall.entity.vo.CommodityListVO">
        <id column="id" property="id" javaType="int"/>
        <result column="cname" property="name" javaType="string"/>
        <result column="is_up" property="isUp" javaType="int"/>
        <result column="vname" property="varietyName" javaType="string"/>
        <result column="price" property="price" javaType="java.math.BigDecimal"/>
        <collection property="urlList" resultMap="urls"></collection>
    </resultMap>

    <resultMap id="urls" type="java.lang.String">
        <result column="url"/>
    </resultMap>

    <resultMap id="pageVO" type="com.hl.fruitmall.entity.vo.CommodityPageVO">
        <id column="id" property="id" javaType="int"/>
        <result column="cname" property="cname" javaType="string"/>
        <result column="variety_id" property="varietyId" javaType="int"/>
        <result column="vname" property="vname" javaType="string"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="is_up" property="isUp" javaType="int"/>
        <collection property="urlList" column="id" select="getUrl"></collection>
    </resultMap>

    <resultMap id="frontVO" type="com.hl.fruitmall.entity.vo.FrontCommodityVO">
        <id property="id" column="mid" javaType="int"/>
        <result property="shopId" column="shop_id"  javaType="int"/>
        <result property="name" column="name"   javaType="string"/>
        <result property="shopName" column="shopName" javaType="string"/>
        <result property="score" column="score" javaType="float"/>
        <result property="number" column="number" javaType="int"/>
        <collection property="urlList" resultMap="urls"/>
        <collection property="voList" resultMap="com.hl.fruitmall.mapper.CommodityInfoMapper.info"/>
    </resultMap>


    <insert id="insert" parameterType="com.hl.fruitmall.entity.bean.Commodity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO commodity(shop_id,name,variety_id)
        VALUES (#{commodity.shopId},#{commodity.name},#{commodity.varietyId})
    </insert>

    <insert id="insertImage">
        INSERT INTO commodity_image(commodity_id,url) VALUES
        <foreach collection="list" item="i" separator=",">
            (#{id},#{i})
        </foreach>
    </insert>


    <update id="updateByField">
        UPDATE commodity SET ${filed2} = #{value2}, update_time = CURRENT_TIMESTAMP
        WHERE ${field1} = #{value1}
    </update>

    <update id="update">
        UPDATE commodity SET name = #{name},variety_id = #{varietyId},update_time = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>


    <delete id="deleteByField">
        DELETE FROM commodity WHERE ${field} = #{value}
    </delete>
    <delete id="deleteImage">
        DELETE FROM commodity_image WHERE url in
        <foreach collection="urls" item="u" open="(" separator="," close=")">
            #{u}
        </foreach>
    </delete>


    <select id="selectList" resultMap="infoVO">
        SELECT c.id,c.name AS cname, c.is_up, p.price,v.name AS vname, ci.url FROM commodity c
            LEFT JOIN commodity_image ci on c.id = ci.commodity_id
            LEFT JOIN variety v on c.variety_id = v.id
            LEFT JOIN (SELECT commodity_id,MIN(price) AS price
                        FROM commodity_info WHERE shop_id = #{id}
                        GROUP BY commodity_id) AS p ON c.id = p.commodity_id
        WHERE c.shop_id = #{id}
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM commodity WHERE shop_id = #{id}
    </select>

    <select id="selectPage" resultMap="pageVO">
        SELECT c.id,c.name cname, v.name vname,c.variety_id,
               c.is_up,c.create_time FROM commodity c
            LEFT JOIN variety v ON c.variety_id = v.id
        WHERE c.shop_id = #{id}
        LIMIT 10 OFFSET #{cur}
    </select>

    <select id="getUrl" resultMap="urls">
        SELECT url FROM commodity_image WHERE commodity_id = #{id}
    </select>

    <select id="selectByField" resultMap="pageVO">
        SELECT c.id,c.name cname, v.name vname,c.variety_id,
               c.is_up,c.create_time FROM commodity c
            LEFT JOIN variety v ON c.variety_id = v.id
        WHERE ${field} = #{value}
    </select>

    <select id="select" resultMap="vo">
        SELECT c.id,c.name,c.variety_id varietyId,c.create_time,v.name varietyName,ci.url
            FROM commodity c
            LEFT JOIN variety v ON c.variety_id = v.id
            LEFT JOIN (SELECT commodity_id, MIN(url) url FROM commodity_image
             WHERE commodity_id = #{id}) ci ON c.id = ci.commodity_id
            WHERE c.id = #{id};
    </select>
    <select id="selectByShopId" resultType="com.hl.fruitmall.entity.bean.Commodity">
        SELECT id,shop_id,name,variety_id,is_up FROM commodity WHERE shop_id = #{id}
    </select>

    <select id="selectInfo"  resultMap="frontVO">
        SELECT c.id mid,c.shop_id,c.name,c.score,c.number,cig.url,
        ci.id,ci.specification,ci.weight,ci.stock,ci.price,s.name shopName
        FROM commodity c
        LEFT JOIN commodity_image cig ON  c.id = cig.commodity_id
        LEFT JOIN commodity_info ci ON c.id = ci.commodity_id
        LEFT JOIN shop s ON s.id = c.shop_id
        WHERE c.id = #{id}
    </select>

</mapper>