<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.fruitmall.mapper.ScoreMapper">
    <insert id="insert">
        INSERT INTO score(id, score) VALUES (#{id},#{score})
    </insert>
    <delete id="delete">
        DELETE FROM score WHERE id = #{id}
    </delete>
    <select id="get" resultType="java.lang.Double">
        SELECT score FROM score WHERE id = #{id}
    </select>
</mapper>