<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.fruitmall.mapper.WithdrawalRecordMapper">


    <insert id="insert">
        INSERT INTO withdrawal_record(phone,account,amount,status)
            VALUES (#{bo.phone},#{bo.account},#{bo.amount}, #{bo.status})
    </insert>
    <select id="page" resultType="com.hl.fruitmall.entity.vo.WithdrawRecordVO">
        SELECT phone,account,amount,create_time,status FROM withdrawal_record
        WHERE phone = #{phone}
        <if test="start != null">
            AND create_time BETWEEN #{start} AND #{end}
        </if>
        LIMIT 10 OFFSET #{cur}
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM withdrawal_record
        WHERE phone = #{phone}
        <if test="start != null">
            AND create_time BETWEEN #{start} AND #{end}
        </if>
    </select>
</mapper>